html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#cesiumContainer {
  width: 80%;
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}